* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
:root {
  --prymary-color: #931420;
  --white-color: #fff;
  --yellow-color: #ebc700;
  --blue-color: #2119ee;
  --size: 60px;
}

#app {
  margin: 10px auto;
  width: 600px;
  border: 2px solid var(--prymary-color);
}

#header {
}
.header-top {
  padding: 15px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #f6bb73 30%,
    #fefcf8,
    #f6bb73
  );
}
.header-image__wrapper {
  width: var(--size);
  height: var(--size);
  margin-right: 2em;
}
.header-image {
  width: 100%;
  height: 100%;
}
.header-main {
  line-height: 20px;
}
.header-main__title {
  color: var(--prymary-color);
}
.header-main__decs {
  color: #000;
  font-weight: 600;
  font-style: italic;
}
.header-main__decs-b {
  display: inline-flex;
  text-shadow: 1px 1px 2px var(--prymary-color);
}
.header-nav {
  background-color: var(--prymary-color);
}
.header-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header-nav__item {
  padding: 10px 20px;
}
.header-nav__link {
  font-weight: 400;
  text-decoration: none;
  color: var(--white-color);
}
.header-nav__item:hover .header-nav__link {
  color: var(--yellow-color);
}

#content {
  padding: 10px 20px;
}

.content-left {
  width: 40%;
}
.content-left__title {
  color: var(--prymary-color);
}
.content-left__member {
}
.content-left__member-month {
}
.content-left__member-link {
  color: var(--blue-color);
}
.content-left__member-avata-wrapper {
  width: var(--size);
  height: var(--size);
}
.content-left__member-avata {
  margin-top: 5px;
  width: 100%;
  height: 100%;
}
