* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
:root {
  --prymary-color: #931420;
  --white-color: #fff;
  --yellow-color: #ebc700;
  --blue-color: #2119ee;
  --size: 60px;
}

#app {
  margin: 10px auto;
  width: 600px;
  border: 3px solid var(--prymary-color);
}

#header {
}
.header-top {
  padding: 15px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(50deg, #f6bb73 30%, #fefcf8, #f6bb73);
}
.header-image__wrapper {
  width: var(--size);
  height: var(--size);
  margin-right: 2em;
}
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-main {
  line-height: 20px;
}
.header-main__title {
  color: var(--prymary-color);
}
.header-main__decs {
  color: #000;
  font-weight: 600;
  font-style: italic;
}
.header-main__decs-b {
  display: inline-flex;
  text-shadow: 1px 1px 2px var(--prymary-color);
}
.header-nav {
  background-color: var(--prymary-color);
}
.header-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header-nav__item {
  padding: 10px 20px;
}
.header-nav__link {
  font-weight: 400;
  text-decoration: none;
  color: var(--white-color);
}
.header-nav__item:hover .header-nav__link {
  color: var(--yellow-color);
}

#content {
  background-color: #fffded;
  padding: 10px 15px;
  display: flex;
}

.content-left {
  width: 30%;
}
.content-title {
  color: var(--prymary-color);
}
.content-left__member {
}
.content__member-month {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
}
.content-left__member-link {
  font-weight: 500;
  color: var(--blue-color);
}
.content-left__member-avata-wrapper {
  width: var(--size);
  height: var(--size);
  display: flex;
  margin: 10px 0;
}
.content-left__member-avata {
  width: 100%;
  height: 100%;
}
.content-right {
  width: 70%;
}
.content-right__desc-sub {
  padding: 5px 20px;
}
.content-right-title {
  margin: 8px 0;
  font-weight: 600;
  color: #000;
  border-bottom: 3px solid var(--prymary-color);
}

.content-right__center {
  padding: 0 0 10px;
  border-bottom: 3px solid var(--prymary-color);
}

.content-right__center-wrapper {
  display: flex;
}

.content-right__center-left {
  flex: 1;
}
.center-left_title {
  margin-right: 10px;
}
.content-left__center-desc {
  font-size: 15px;
  line-height: 1.2;
}
.content-left__center-link {
  color: var(--blue-color);
}
.content-right__center-right {
  margin: 10px 0 0 20px;
  width: 100px;
  height: 200px;
  display: flex;
  flex: 1;
}
.content-right__center-right_img {
  width: 100%;
  height: 100%;
}
.content-right__foot {
  margin: 10px 0 15px;
}
.content-right__foot-list {
  list-style: circle;
  padding-left: 20px;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--prymary-color);
}
.coppyright {
  color: var(--white-color);
  line-height: 2.5;
}
